@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'changa';
}

body {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    background-image: url(_\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3%;
    margin: 0;
}
/* form */
form {
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    background-color: rgba(240, 248, 255, 0.494);
    border-radius: 10px;
    border-left: 5px solid black;
    padding: 20px;
}
form input,
form select {
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: aliceblue;
}
.form-control {
    display: grid;
    grid-template-columns: 100px auto;
    position: relative;
}
form input[type="button"] {
    background-color:#392725;
    color: aliceblue;
    border: none;
    padding: 5px;
    width: 30%;
    margin-left: 30%;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}
h1 {
    font-weight: 400;
    font-size: 40px;
}
.icon {
    padding: 38px;
    display: grid;
    grid-template-columns: repeat(3, 20px);
    column-gap: 20px;
}
small {
    color: red;
}

.form-control-succes input ,.form-control-succes select{
    border: 3px solid rgb(13, 245, 32);
}

.form-control-error input ,.form-control-error select{
    border: 3px solid rgb(244, 42, 42);
}
/* table products */
.products
{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.498);
    border-radius: 10px;
    border-left: 5px solid black;
}

table,
td,
th {
    border: 1px solid #392725 ;
}

.table {
    background-color: #e4dbda;
    width: 100%;
    border-collapse: collapse;
    color: #392725;
}
#update #remove 
{background-color: aliceblue;}

/* media */
@media only screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template: repeat(2, 1fr 2fr)/ auto;
    }

}



/* modal */
.modal
{
    display: none;
    position: fixed; 
    left: 30%;
    top: 30%;
    width: 35%; /* Full width */
    height: 40%; /* Full height */
    background-color: #e8eaee;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.buttons
{
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    gap: 10px;


}
#cancel ,#delete
{
    background-color:#392725;
    color: aliceblue;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    
}
#delete
{
    background-color: red;
}
.show-modal
{
    display: block;
}
.close-modal
{
    display: none;
}
